---
---

@import url('https://fonts.googleapis.com/css?family=Cousine|IBM+Plex+Sans|IBM+Plex+Serif');

$base-font-family: "IBM Plex Sans", sans-serif;

main {
    font-family: "IBM Plex Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans", sans-serif;
}

pre, code {
    font-family: "Cousine", monospace;
}

.front-pictures {
    margin-bottom: 2rem;
}

.profile-pic {
    box-shadow: 0px 4px 16px 0px #666;
    transform: rotate(2deg);
}

.book-cover {
    height: 360px;
    margin-left: 3rem;
    box-shadow: 0px 4px 16px 0px #666;
    transform: rotate(2deg);
}

@import "minima";
